
//forms

.form-control {
    border-radius: 20px;
    box-shadow: $purple;
    &:focus{
        border-color: $purple;
        box-shadow:0 0 0 .2rem rgba(96, 72, 127, 0.13);
    }
}

//boutons 

.btn {
    border-radius: 20px;
    transition: all .2s ease-in-out;
    &:focus{
        border-color: $purple;
        box-shadow:0 0 0 .2rem rgba(96, 72, 127, 0.13);
    }
}

.btnPurple {
    color: $purple !important;
    border-color: $purple;
    &:hover{
        color: $white !important;
        background-color: $purple;
    }
}

.btnPurpleDark {
    color: $purpleDark !important;
    border-color: $purpleDark;
    &:hover{
        color: $white !important;
        background-color: $purpleDark;
    }
}


.btnCyan {
    color: $cyan !important;
    border-color: $cyan;
    :hover{
        color: $white !important;
        background-color: $cyan;
    }
}

// cards

.card{
    border-radius: 10px;
    &-img-top{
        border-radius: 10px;
    }
}

// player 

/* player son : les css */

.wrapper-son {
    position: relative;
    background-color:rgba(255,255,255, 0.8);
    padding:6px;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
 }
 .son-info {
    font-size:$p3;
    padding:6px;
    color:#666;
    display:flex;
    flex-wrap: wrap;
 }
 .son-info .played, .son-info .duration {
    width:50%;
 }
 .son-info .titre {
    width:100%;
    padding-top:4px;
    text-align:center;
    font-weight:bold;
 }
 .son-info .auteur {
    font-weight:normal;
    display:block;
    padding-top:4px;
 }
 .son-info .duration {
    text-align:right;
 }
 .timeline {
    box-sizing: border-box;
    background-color: $blue;
    cursor:col-resize;
 }
 .bar-played {
    height:100%;
    width:0;
    background-color:$cyan;
    height:10px;
 }