$xs: 544px;
$sm: 767px;
$md: 990px;
$lg: 1200px;

/*colors*/
$purpleDark: #3D013C;
$purple: #60487F;
$purpleBlue:#7888BF;
$blue:#68C2E5;
$cyan:#4AF8FF;

$white:white;
$lightGrey:rgb(209, 209, 209);
$grey: rgb(155, 155, 155);
$darkGrey: rgb(65, 65, 65);
$dark: rgb(14, 14, 14);

/*dimensions*/


$gap:1rem;
$mediumGap:1.5rem;
$bigGap:2rem;

$containerWidth:70%;
$sidebarWidth:15%;
$footerFixHeight:14vh;

/*text*/

$p1: 1.5rem;
$p2: 1.2rem;
$p3: 1rem;

$h1: 3rem;
$h2: 2rem;
$h3: 1.5rem;

$font1:"Montserrat", Helvetica, sans-serif;
$font2:'Oswald', sans-serif;

/*icon*/

$icon: 0.8rem;
$mediumIcon:1.5rem;
$bigIcon:3rem;