
//padding

.padding {
    padding: $gap;
}

.mediumPadding {
    padding: $mediumGap;
}

.bigPadding {
    padding: $bigGap;
}

//margin

.margin {
    margin: $gap;
}

.mediumMargin {
    margin: $mediumGap;
}

.bigMargin {
    margin: $bigGap;
}

.bigMarginHeight{
    margin: $bigGap  0 $bigGap 0;
}

// Bootstrap 

.container {
    width: $containerWidth;
    max-width: none;
}

//Zones

.main {
    &Fixed{
        position: fixed;
        height: 86vh;
        top:0px;
        left: $sidebarWidth;
        right: $sidebarWidth;
        bottom: $footerFixHeight;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-zone{
            margin-top: $bigGap;
        }

    }
    .footer {
        color: #000;
    }
}

.sidebar {
background-color: $purple;
position:fixed;
top: 0px;
width: $sidebarWidth;
height: 88vh;
z-index: 0.5;


    &-nav, form{
        p{
            color: $white;
        }
        h1,h2,h3{
            color: $cyan;
        }
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        margin-top: $gap;
    }
    li{
margin-top: $gap;
        p,a{display: inline;}
    }

}

.sidebar-right {

right: 0px;

}

.header, .navbar {
background-color: $darkGrey;
z-index: 1;
    a{
        color: $white;
        &:hover{
            color: $cyan;
            text-decoration: none;
        }
    }

}

.footerFix {
z-index: 1;

background-color: $blue;
height: $footerFixHeight;
    .col-12{
        padding: 0px;
    }
}

/*feed*/

.feed{
    .playlists{
        display: flex;
        flex-direction: row;
        .card{
            position: relative;
            display: inline-block;
            margin: $gap 0 $gap 0;
            flex-grow: 1;
            max-width: 50%;
            width: calc(100% * (1/3) - 2rem);
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
              }
              div:first-child{
                position: absolute;
                width: 100%;
                height: 100%;
              }
        }
    }

    .sounds{
        display: flex;
        flex-direction: row;
        .card{
            display: inline-block;
            margin: 0 $gap 0 $gap;
            flex-grow: 1;
            max-width: 50%;
            width: calc(100% * (1/3) - 2rem);
            /*faire des carrés parfait responsive*/
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
              }
            div:first-child{
            position: absolute;
            width: 100%;
            height: 100%;
            }
            //apparition des infos
            overflow-y: hidden;
            &:hover .card-body{
                top: 0px;
                margin-top:0px;
                border-radius: 0px;  

                background-color: rgba(74, 249, 255, 0.733);
            }

            .card-body{
                height: 100%;
                width: 100%;
                position: absolute;
                top: 100%;
                transition: all ease-in-out 0.5s;
                overflow-x: hidden;
                
                h1,h2,h3,h4,h5,h6{
                    text-align: center;
                }
            }

            .card-buttons{
                margin: $gap;
                display: flex;
                flex-direction: row;
                justify-content: center;
                a{
                    margin: $gap;
                }

            }

            .dropdown{
                text-align:center;
            }

            a,p,h1,h2,h3,h4,h5,h6{
                color: $purpleDark;
            }
        }
    }
    .endFeed{
        height: 6vh;
    }
}


.userProfile{
    h1{
        text-align: center;
    }

}

